<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mil.nga.msi">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".MsiApplication"
        android:allowBackup="true"
        tools:replace="android:allowBackup"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Msi"
        tools:targetApi="31">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />

            <meta-data
                android:name="mil.nga.msi.startup.asam.AsamInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="mil.nga.msi.startup.modu.ModuInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="mil.nga.msi.startup.navigationalwarning.NavigationalWarningInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="mil.nga.msi.startup.light.LightInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="mil.nga.msi.startup.port.PortInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="mil.nga.msi.startup.radiobeacon.RadioBeaconInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="mil.nga.msi.startup.dgpsstation.DgpsStationInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Msi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_ANDROID_API_KEY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>